html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor: url('../public/shinee-cursor.png'), auto
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
* {
  cursor: url('../public/animated-cursor/frame1.png'), auto;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 400ms infinite;

  box-sizing: border-box;
}

@-webkit-keyframes cursor {
  0% {cursor: url('../public/animated-cursor/frame1.png'), auto;}
  20% {cursor: url('../public/animated-cursor/frame2.png'), auto;}
  40% {cursor: url('../public/animated-cursor/frame3.png'), auto;}
  60% {cursor: url('../public/animated-cursor/frame4.png'), auto;}
  80% {cursor: url('../public/animated-cursor/frame1.png'), auto;}
  100% {cursor: url('../public/animated-cursor/frame2.png'), auto;}
}

@keyframes cursor {
  0% {cursor: url('../public/animated-cursor/frame1.png'), auto;}
  20% {cursor: url('../public/animated-cursor/frame2.png'), auto;}
  40% {cursor: url('../public/animated-cursor/frame3.png'), auto;}
  60% {cursor: url('../public/animated-cursor/frame4.png'), auto;}
  80% {cursor: url('../public/animated-cursor/frame1.png'), auto;}
  100% {cursor: url('../public/animated-cursor/frame2.png'), auto;}
}
*/